<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="/css/element-ui.css">
    <!-- 引入组件库 -->
    <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
</head>

<body>
    <div id="app">

        <el-menu default-active="/page/todo" :router="true" class="el-menu-vertical-demo">
            <el-menu-item index="/" route="/">
                <i class="el-icon-location"></i>
                <span>首页</span>
            </el-menu-item>

            <el-menu-item index="/page/todo">
                <i class="el-icon-menu"></i>
                <span slot="title">page/todo</span>
            </el-menu-item>

            <el-menu-item index="2">
                <i class="el-icon-menu"></i>
                <span slot="title">文件上传</span>
            </el-menu-item>

            <el-menu-item index="3">
                <i class="el-icon-document"></i>
                <span slot="title">文件上传2</span>
            </el-menu-item>

            <el-menu-item index="4">
                <i class="el-icon-setting"></i>
                <span slot="title">文件列表</span>
            </el-menu-item>
        </el-menu>

        <h1>EJS Welcome to <%= title %>
        </h1>

        <el-button type="primary" @click="visible=true">Button</el-button>
        <el-dialog :visible.sync="visible" title="Hello world">
            <p>Try Element</p>
        </el-dialog>


        <!-- <button class="btn" id="J_UploadPictureBtn">上传图片</button>
        <hr />
        <p>上传进度<span id="J_UploadProgress">0</span>%</p>
        <p>上传结果图片</p>
        <div id="J_PicturePreview" class="preview-picture">
        </div>
        <script src="/js/index.js"></script> -->



        <!-- <el-progress type="circle" :percentage="num"></el-progress>
        <el-progress type="circle" :percentage="num" status="success"></el-progress>
        <el-progress type="circle" :percentage="num" status="warning"></el-progress> -->


        <!-- <el-radio v-model="radio" label="1">备选项</el-radio> -->

        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/index">/index</a></li>
            <li><a href="/page/todo">/page/todo</a></li>
            <li><a href="/page/404">/page/404</a></li>
            <li><a href="/nofund">/nofund</a></li>
            <li><a href="/index.html">/static</a></li>
            <li><a href="/upload-files">/upload-files</a></li>
        </ul>

        <h1>koa2 request post demo</h1>
        <form method="POST" action="/">
            <p>userName</p>
            <input name="userName" /><br />
            <p>nickName</p>
            <input name="nickName" /><br />
            <p>email</p>
            <input name="email" /><br />
            <button type="submit">submit</button>
        </form>

        <h1>koa2 upload demo</h1>
        <form method="POST" action="/upload.json" enctype="multipart/form-data">
            <p>file upload</p>
            <span>picName:</span><input name="picName" type="text" /><br />
            <input name="file" type="file" /><br /><br />
            <button type="submit">submit</button>
        </form>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: false,
                    num: 0,
                }
            },
            created() {
                // this.fun()
            },
            methods: {
                buttonClick() {
                    console.log('buttonClick')
                    this.visible = true
                    // if (this.num >= 100) return
                    // setTimeout(() => {
                    //     this.num += 20
                    //     this.fun()
                    // }, 1000)
                }
                // fun() {
                //     if (this.num >= 100) return
                //     setTimeout(() => {
                //         this.num += 20
                //         this.fun()
                //     }, 1000)
                // }
                // handleOpen(key, keyPath) {
                //     console.log(key, keyPath);
                // },
                // handleClose(key, keyPath) {
                //     console.log(key, keyPath);
                // }
            },
        })
    </script>
</body>

</html>