<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="/css/element-ui.css">
    <!-- 引入组件库 -->
    <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
</head>

<body style="margin: 0; overflow: hidden;">
    <div id="app" style="height: 100vh;width: 100vw; padding: 10px;">
        <el-row type="flex" align="middle" justify="center">
            <h1>Welcome to <%= title %>
            </h1>
        </el-row>

        <el-tabs :tab-position="'left'" >
            <el-tab-pane label="表单提交">
                <h1>koa2 request post demo</h1>
                <form method="POST" action="/">
                    <p>userName</p>
                    <input name="userName" /><br />
                    <p>nickName</p>
                    <input name="nickName" /><br />
                    <p>email</p>
                    <input name="email" /><br />
                    <button type="submit">submit</button>
                </form>
            </el-tab-pane>
            <el-tab-pane label="文件上传">
                <h1>koa2 upload demo</h1>
                <form method="POST" action="/upload.json" enctype="multipart/form-data">
                    <p>file upload</p>
                    <span>picName:</span><input name="picName" type="text" /><br />
                    <input name="file" type="file" /><br /><br />
                    <button type="submit">submit</button>
                </form>
            </el-tab-pane>
            <el-tab-pane label="文件上传异步">
                <h1>koa2 upload demo</h1>
                <form method="POST" action="/upload.json" enctype="multipart/form-data">
                    <p>file upload</p>
                    <span>picName:</span><input name="picName" type="text" /><br />
                    <input name="file" type="file" /><br /><br />
                    <button type="submit">submit</button>
                </form>
            </el-tab-pane>
            <el-tab-pane label="文件列表">
                <el-button type="primary" @click="visible=true">Button</el-button>
                <el-dialog :visible.sync="visible" title="Hello world">
                    <p>Try Element</p>
                </el-dialog>
            </el-tab-pane>
        </el-tabs>

        <!-- <el-col style="height: 100%;border: solid red 1px;" :span="4">
                <el-menu :default-active="activeIndex" class="el-menu-vertical-demo" @change="indexChange">
                    <el-menu-item index="/">
                        <i class="el-icon-location"></i>
                        <a href="/">
                            <span>首页</span>
                        </a>
                    </el-menu-item>

                    <el-menu-item index="/page/todo">
                        <a href="/page/todo">
                            <i class="el-icon-menu"></i>
                            <span>todo</span>
                        </a>
                    </el-menu-item>

                    <el-menu-item index="2">
                        <a href="/page/404">
                            <i class="el-icon-menu"></i>
                            <span slot="title">404</span>
                        </a>
                    </el-menu-item>

                    <el-menu-item index="3">
                        <a href="/page/404">
                            <i class="el-icon-document"></i>
                            <span slot="title">文件上传2</span>
                        </a>
                    </el-menu-item>

                    <el-menu-item index="4">
                        <a href="/upload-files">
                            <i class="el-icon-setting"></i>
                            <span slot="title">文件列表</span>
                        </a>
                    </el-menu-item>
                </el-menu>
            </el-col> -->

    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    activeIndex: '/',
                    visible: false,
                    num: 0,
                }
            },
            created() {
                // this.fun()
            },
            methods: {
                indexChange(e) {
                    console.log(e)
                },
                buttonClick() {
                    console.log('buttonClick')
                    this.visible = true
                    // if (this.num >= 100) return
                    // setTimeout(() => {
                    //     this.num += 20
                    //     this.fun()
                    // }, 1000)
                }
                // fun() {
                //     if (this.num >= 100) return
                //     setTimeout(() => {
                //         this.num += 20
                //         this.fun()
                //     }, 1000)
                // }
                // handleOpen(key, keyPath) {
                //     console.log(key, keyPath);
                // },
                // handleClose(key, keyPath) {
                //     console.log(key, keyPath);
                // }
            },
        })
    </script>
</body>

</html>