<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="/css/element-ui.css">
    <!-- 引入组件库 -->
    <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="/js/vue.js"></script>
    <script src="/js/element.js"></script>
    <script src="/js/axios.js"></script>

    <style>
        #app {
            height: 100vh;
            width: 100vw;
            padding: 10px;
            overflow: hidden;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
        }

        .upload-box {
            height: calc(100vh - 136px);
            overflow: hidden;
        }

        /* .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        } */
    </style>
</head>

<body style="margin: 0; overflow: hidden;">
    <div id="app">

        <el-row type="flex" align="middle" justify="center">
            <h1>Welcome to file uplaod</h1>
        </el-row>
        <el-row style="margin-bottom:10px;" type="flex" align="middle" justify="start">
            <a href="/files">
                <i class="el-icon-setting"></i>
                <span slot="title">文件目录</span>
            </a>
        </el-row>

        <el-tabs :tab-position="'left'" style=" flex: 1 1 auto; ">
            <el-tab-pane label="文件上传">
                <el-row type='flex' class="upload-box">
                    <div style="width: 50%;overflow: auto;">
                        <h1>element-ui 上传</h1>
                        <h3>多文件上传时，会触发多个post请求</h3>

                        <el-upload class="upload-demo" drag action="/upload" multiple :show-file-list="true"
                            :before-upload="beforeAvatarUpload" :on-success="handleAvatarSuccess">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__tip" slot="tip">文件大小不能超过10M</div>
                        </el-upload>

                        <div>
                            <h3>返回结果</h3>
                            <ul>
                                <li v-for="(item,index) in fileList" ::key="index">
                                    {{item}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="width: 50%;overflow: auto;">
                        <h1>原生的表单上传</h1>
                        <h3>多文件上传时，只发送一个post</h3>
                        <form method="POST" action="/upload" enctype="multipart/form-data" target="frameName">
                            <span>picName:</span><input name="picName" type="text" /><br />
                            <input name="file" type="file" multiple /><br /><br />
                            <button type="submit">submit</button>
                        </form>

                        <div>
                            <h3>返回结果</h3>
                            <iframe src="" frameborder="0" name="frameName"></iframe>
                        </div>
                    </div>
                </el-row>
            </el-tab-pane>

            <el-tab-pane label="文件上传异步">
                <el-button class="btn" id="J_UploadPictureBtn" @click="uploadImg">上传图片</el-button>
                <hr />
                <p>上传进度<span id="J_UploadProgress">0</span>%</p>
                <p>上传结果图片</p>
                <div id="J_PicturePreview" class="preview-picture">
                </div>
            </el-tab-pane>

            <el-tab-pane label="文件管理">
                <el-row type="flex" aling="middle" style="margin: 10px 0;">
                    <el-input v-model="fileName" clearable style="width: 200px;margin-right: 10px;"
                        placeholder="请输入文件名">
                    </el-input>
                    <el-select v-model="typeValue" style="width: 200px;margin-right: 10px;" placeholder="请选择文件类型">
                        <el-option v-for="item in typeOptions" :key="item.value" :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <el-date-picker v-model="timeValue" style="width: 300px;margin-right: 10px;" type="daterange"
                        align="right" unlink-panels range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                        :picker-options="pickerOptions" value-format="timestamp">
                    </el-date-picker>
                    <el-button type="primary" @click="getUploadFiles">查询文件</el-button>
                </el-row>

                <el-table :data="filesList" border style="width: 100%" height="70vh">
                    <el-table-column type="index" label="-" width="50"></el-table-column>
                    <el-table-column prop="filename" label="文件名"></el-table-column>
                    <el-table-column prop="md5" label="md5"></el-table-column>
                    <el-table-column prop="mimeType" label="文件类型"></el-table-column>
                    <!-- <el-table-column prop="encoding" label="编码方式"></el-table-column> -->
                    <!-- <el-table-column prop="saveTo" label="文件类型"></el-table-column> -->
                    <el-table-column prop="fileSize" label="文件大小" width="180" :formatter="sizeFormatter">
                    </el-table-column>
                    <el-table-column prop="url" label="地址">
                        <template slot-scope="{row}">
                            <div>
                                <p v-text="row.url"></p>
                                <img v-if="row.mimeType && row.mimeType.startsWith('image')" style="height:100px;width: auto;"
                                    :src="row.url" />
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="createdAt" label="上传日期" width="180">
                        <template slot-scope="{row}">
                            {{ new Date(row.createdAt).toLocaleString() }}
                        </template>
                    </el-table-column>
                    <!-- <el-table-column prop="success" label="结果" width="100">
                        <template slot-scope="{row}">
                            <el-tag v-if="row.success" type="success">成功</el-tag>
                            <div v-else v-text="row.message">
                            </div>
                        </template>
                    </el-table-column> -->
                    <el-table-column label="操作">
                        <template slot-scope="{row}">
                            <el-button size="mini" type="danger" @click="deleteFile(row)">删除</el-button>
                            <el-button size="mini" type="primary" @click="saveFile(row)">下载</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <el-pagination style="margin: 20px auto; " @size-change="handleSizeChange"
                    @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 40]"
                    :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </el-tab-pane>
        </el-tabs>
    </div>

    <script>
        const UtilType = {
            isPrototype: function (data) {
                return Object.prototype.toString.call(data).toLowerCase()
            },
            isJSON: function (data) {
                return this.isPrototype(data) === '[object object]'
            },
            isFunction: function (data) {
                return this.isPrototype(data) === '[object function]'
            }
        }

        new Vue({
            el: '#app',
            data: function () {
                return {
                    baseUrl: 'http://localhost:3001', // axios base url 
                    // baseUrl: 'http://xyy.life:3001',

                    activeIndex: '/',
                    fileList: [],
                    // imageUrl: '',

                    fileName: '', // 文件名
                    typeValue: 'all', // 文件类型
                    typeOptions: [{
                        value: 'all',
                        label: '全部'
                    }, {
                        value: 'image',
                        // value: 'image/jpeg',
                        label: '图片'
                    }, {
                        // value: 'video/mp4',
                        value: 'video',
                        label: '视频'
                    }, {
                        value: 'audio/mpeg',
                        label: 'MP3'
                    }, {
                        value: 'application/octet-stream',
                        label: 'AMR'
                    }],
                    timeValue: '', // 时间段
                    pickerOptions: {
                        shortcuts: [{
                            text: '最近一周',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '最近一个月',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '最近三个月',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                                picker.$emit('pick', [start, end]);
                            }
                        }]
                    },

                    filesList: [],
                    total: 0,
                    currentPage: 1,
                    pageSize: 10,

                    // visible: false,
                    // num: 0,

                }
            },
            created() {
            },
            methods: {
                // 换算文件大小
                sizeFormatter(row) {
                    let fileSize = row.fileSize
                    if (fileSize) {
                        if (fileSize > 1073741824) {
                            return (fileSize / 1073741824).toFixed(2) + ' G'
                        } else if (fileSize > 1048576) {
                            return (fileSize / 1048576).toFixed(2) + ' MB'
                        } else if (fileSize > 1024) {
                            return (fileSize / 1024).toFixed(2) + ' KB'
                        } else {
                            return fileSize + ' B'
                        }
                    }
                    return row.fileSize
                },

                // 获取文件列表
                getUploadFiles() {
                    let params = {
                        page: this.currentPage,
                        limit: this.pageSize,
                        fileName: this.fileName,
                        fileType: this.typeValue,
                    };
                    if (this.timeValue) {
                        params.startTime = this.timeValue[0]
                        params.endTime = this.timeValue[1]
                    }
                    axios.get(`${this.baseUrl}/api/file`, { params: params })
                        .then(res => {
                            if (res?.data && res.data.code === 20000) {
                                console.log(res.data)
                                this.filesList = res.data.data?.list || []
                                this.total = res.data.data?.total || 0
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
                handleSizeChange(val) {
                    this.pageSize = val
                    this.getUploadFiles()
                },
                handleCurrentChange(val) {
                    this.currentPage = val
                    this.getUploadFiles()
                },
                // 删除记录
                deleteFile(row) {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.delete(`${this.baseUrl}/api/file/${row._id}`)
                            .then(res => {
                                if (res?.data && res.data.code === 20000) {
                                    this.$message({
                                        type: 'success',
                                        message: '删除成功!',
                                        duratio: 1000
                                    });
                                    this.getUploadFiles()
                                }
                            })
                            .catch(error => {
                                console.log(error)
                            })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });

                },
                // 下载资源
                saveFile(row) {
                    // window.location.href = row.url;
                    // window.open(row.url, '_self');

                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.setAttribute('target', '_blank');
                    /*
                     * download的属性是HTML5新增的属性
                     * href属性的地址必须是非跨域的地址，如果引用的是第三方的网站或者说是前后端分离的项目(调用后台的接口)，这时download就会不起作用。
                     * 此时，如果是下载浏览器无法解析的文件，例如.exe,.xlsx..那么浏览器会自动下载，但是如果使用浏览器可以解析的文件，比如.txt,.png,.pdf....浏览器就会采取预览模式
                     * 所以，对于.txt,.png,.pdf等的预览功能我们就可以直接不设置download属性(前提是后端响应头的Content-Type: application/octet-stream，如果为application/pdf浏览器则会判断文件为 pdf ，自动执行预览的策略)
                     */
                    row.filename && a.setAttribute('download', row.filename);
                    a.href = row.url;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },


                // 上传之前做些什么
                beforeAvatarUpload(file) {
                    // const isJPG = file.type === 'image/jpeg';
                    const isLt2M = file.size / 1024 / 1024 < 10;
                    // if (!isJPG) {
                    //     this.$message.error('上传头像图片只能是 JPG 格式!');
                    // }
                    if (!isLt2M) {
                        this.$message.error('文件大小不能超过 10MB!');
                    }
                    // return isJPG && isLt2M;
                    return isLt2M;
                },
                handleChange(file, fileList) {
                    console.log('handleChange', file)
                    // this.fileList = fileList.slice(-3);
                    // this.fileList = fileList;
                },
                // 上传成功回调函数
                handleAvatarSuccess(res, file, fileList) {
                    // console.log('handleAvatarSuccess', fileList)
                    // this.imageUrl = URL.createObjectURL(file.raw);
                    this.fileList = fileList
                },

                // 上传文件
                requestEvent(options) {
                    try {
                        let formData = options.formData
                        let xhr = new XMLHttpRequest()
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                options.success(JSON.parse(xhr.responseText))
                            }
                        }

                        xhr.upload.onprogress = function (evt) {
                            let loaded = evt.loaded
                            let tot = evt.total
                            let per = Math.floor((100 * loaded) / tot)
                            options.progress(per)
                        }
                        xhr.open('post', '/upload')
                        xhr.send(formData)
                    } catch (err) {
                        options.fail(err)
                    }
                },
                // 选择文件
                uploadEvent(options) {
                    let file
                    let formData = new FormData()
                    let input = document.createElement('input')
                    input.setAttribute('type', 'file')
                    input.setAttribute('name', 'files')

                    input.click()
                    input.onchange = () => {
                        file = input.files[0]
                        formData.append('files', file)

                        this.requestEvent({
                            formData,
                            success: options.success,
                            fail: options.fail,
                            progress: options.progress,
                        })
                    }
                },
                // 上传的回调函数判断
                uploadAction(options) {
                    if (!UtilType.isJSON(options)) {
                        return
                    }
                    let _options = {}
                    _options.success = UtilType.isFunction(options.success)
                        ? options.success
                        : function () { }
                    _options.fail = UtilType.isFunction(options.fail)
                        ? options.fail
                        : function () { }
                    _options.progress = UtilType.isFunction(options.progress)
                        ? options.progress
                        : function () { }

                    this.uploadEvent(_options)
                },
                // 点击事件
                uploadImg() {
                    // let btn = document.getElementById('J_UploadPictureBtn')
                    let progressElem = document.getElementById('J_UploadProgress')
                    let previewElem = document.getElementById('J_PicturePreview')
                    this.uploadAction({
                        success: function (result) {
                            console.log(result)
                            if (result && result.code === 20000 && result.data) {
                                previewElem.innerHTML =
                                    '<img src="' + result.data[0].url + '" style="max-width: 100%">'
                            }
                        },
                        progress: function (data) {
                            if (data && data * 1 > 0) {
                                progressElem.innerText = data
                            }
                        },
                    })
                }
            },
        })
    </script>
</body>

</html>