<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="/css/element-ui.css">
    <!-- 引入组件库 -->
    <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="/js/vue.js"></script>
    <script src="/js/element.js"></script>
    <script src="/js/axios.js"></script>

    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>

<body style="margin: 0; overflow: hidden;">
    <div id="app" style="height: 100vh;width: 100vw; padding: 10px;">
        <el-row type="flex" align="middle" justify="center">
            <h1>Welcome to file uplaod</h1>
        </el-row>

        <el-tabs :tab-position="'left'">
            <el-tab-pane label="文件上传">
                <el-upload class="upload-demo" drag action="/api/upload" multiple :show-file-list="true"
                    :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <!-- <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div> -->
                    <div class="el-upload__tip" slot="tip">文件大小不能超过10M</div>
                </el-upload>
                <div>
                    <p>返回结果</p>
                    {{result}}
                </div>


                <!-- <form method="POST" action="/file/upload" enctype="multipart/form-data">
                    <p>file upload</p>
                    <span>picName:</span><input name="picName" type="text" /><br />
                    <input name="file" type="file" /><br /><br />
                    <button type="submit">submit</button>
                </form> -->
            </el-tab-pane>

            <el-tab-pane label="文件上传异步">
                <button class="btn" id="J_UploadPictureBtn">上传图片</button>
                <hr />
                <p>上传进度<span id="J_UploadProgress">0</span>%</p>
                <p>上传结果图片</p>
                <div id="J_PicturePreview" class="preview-picture">
                </div>
                <script src="/js/index.js"></script>
            </el-tab-pane>

            <el-tab-pane label="文件列表">
                <a href="/upload-files">
                    <i class="el-icon-setting"></i>
                    <span slot="title">文件列表</span>
                </a>

                <el-button type="primary" @click="getUploadFiles">查询文件</el-button>
                <el-dialog :visible.sync="visible" title="Hello world">
                    <p>Try Element</p>
                </el-dialog>
            </el-tab-pane>
        </el-tabs>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    activeIndex: '/',
                    imageUrl: '',
                    result: {},

                    visible: false,
                    num: 0,
                }
            },
            created() {
                // this.fun()
            },
            methods: {
                handleAvatarSuccess(res, file) {
                    this.result = res
                    this.imageUrl = URL.createObjectURL(file.raw);
                },
                beforeAvatarUpload(file) {
                    // const isJPG = file.type === 'image/jpeg';
                    const isLt2M = file.size / 1024 / 1024 < 10;

                    // if (!isJPG) {
                    //     this.$message.error('上传头像图片只能是 JPG 格式!');
                    // }
                    if (!isLt2M) {
                        this.$message.error('文件大小不能超过 10MB!');
                    }
                    // return isJPG && isLt2M;
                    return isLt2M;
                },
                getUploadFiles() {
                    let baseurl_ = 'http://localhost:3001'
                    var params = {
                        page: 1,
                        limit: 10,
                    };
                    axios.get(`${baseurl_}/api/file`, { params: params })
                        .then(res => {
                            // console.log("saveRoi" + JSON.stringify(res.data))
                            console.log(res.data)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
                // fun() {
                //     if (this.num >= 100) return
                //     setTimeout(() => {
                //         this.num += 20
                //         this.fun()
                //     }, 1000)
                // }
            },
        })
    </script>
</body>

</html>